.container {
  font-size: 1em;
  width: auto;
  height: auto;
  /*background-color: lightgrey;*/
}

.city-name {
  font-size: 2em;
  text-align: center;
  margin: 20px;
}

.current-container {
  margin: auto;
  width: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.current-icon {
  height: 60px;
  width: 60px;
  display: inline-block;
}

.current-weather {
  height: 60px;
  line-height: 60px;
  font-size: 2em;
  display: inline-block;
  vertical-align: top;
  margin-left: 10px;
}

.cards {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 30px;
  margin-bottom: 10px;
}

.weather-card {
  width: 100px;
  padding: 10px;
  box-sizing: border-box;
  background-color: #f3f3f3;
}

.day-name {
  text-align: center;
  color: black;
}

.weather-icon {
  height: auto;
  width: 60px;
  margin: 12.5px;
}

.temps {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.day-temp {
  color: black;
}

.night-temp {
  color: grey;
}

.icon-credit {
  text-align: center;
}

.temp {
  color: black;
}

.pressure {
  color: grey;
}

.city-label {
  margin: 10px;
}

.city-form {
  width: 395px;
  margin: auto;
}